@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:wght@400;700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');:root {
  --primary: #eeeeee;
  --secondary: #227c70;
  --green: #82cd47;
  --secondary-light: rgb(34, 124, 112, 0.2);
  --secondary-light-2: rgb(127, 183, 126, 0.1);
  --white: #fff;
  --black: #393e46;
  --poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--darkblue: #090c38;
  --formc: #ffe0d2;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
	--font1: 'Lobster', cursive;
	--font2: 'Lobster Two', cursive;
	--font3: 'Lora', serif;

  --dark-body: #4d4c5a;
    --dark-main: #141529;
    --dark-second: #79788c;
    --dark-hover: #323048;
    --dark-text: #f8fbff;

    --light-body: #f3f8fe;
    --light-main: #fdfdfd;
    --light-second: #c3c2c8;
    --light-hover: #edf0f5;
    --light-text: #151426;

    --blue: #0000ff;
    --white: #fff;

    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    --font-family: cursive;

  --shadow: 0px 2px 8px 0px var(--secondary-light);
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  font-family: 'Lobster', cursive;
}

body {
  height: 100vh;
  width: 100%;
  background-color: var(--primary);
}
/*drop-down*/
.profile-dropdown {
  position: relative;
  width: fit-content;
}

.profile-dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  max-width: 160px;
  border-radius: 50px;
  color: var(--black);
  /* background-color: white;
  box-shadow: var(--shadow); */

  cursor: pointer;
  border: 1px solid var(--secondary);
  transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in,
    border 0.3s;
}

.profile-dropdown-btn:hover {
  background-color: var(--secondary-light-2);
  box-shadow: var(--shadow);
}

.profile-img {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: url(img/user2.jpg);
  background-size: cover;
}

.profile-img i {
  position: absolute;
  right: 0;
  bottom: 0.3rem;
  font-size: 0.5rem;
  color: var(--green);
}

.profile-dropdown-btn span {
  margin: 0 0.5rem;
  margin-right: 0;
}

.profile-dropdown-list {
  position: absolute;
  top: 68px;
  width: 180px;
  right: 0;
  background-color: var(--white);
  border-radius: 10px;
  max-height: 0;
  overflow: hidden;
  box-shadow: var(--shadow);
  transition: max-height 0.5s;
}

.profile-dropdown-list hr {
  border: 0.5px solid var(--green);
}

.profile-dropdown-list.active {
  max-height: 500px;
}

.profile-dropdown-list-item {
  padding: 0.5rem 0rem 0.5rem 1rem;
  transition: background-color 0.2s ease-in, padding-left 0.2s;
}

.profile-dropdown-list-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size:1rem;
  font-weight: 500;
  color: var(--black);
}

.profile-dropdown-list-item a i {
  margin-right: 0.8rem;
  font-size: 1.1rem;
  width: 2.3rem;
  height: 2.3rem;
  background-color: var(--secondary);
  color: var(--white);
  line-height: 2.3rem;
  text-align: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: margin-right 0.3s;
}

.profile-dropdown-list-item:hover {
  padding-left: 1.5rem;
  background-color: var(--secondary-light);
}
/*drop-down*/

/* MAIN */
#content main {
	width: 100%;
  height: calc(100% - 56px);
	padding: 36px 24px;
	font-family: var(--font1);
  align-items: center;
	overflow-y: auto ;
    /* background: url(img/joshua-sortino-71vAb1FXB6g-unsplash.jpg);  */
    /* background-size: cover;   */
    /* background-position: center; */

}
#content main .info{
  width: 100%;
  height: 100vh;
}
#content .top{
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}
#content .bottom{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 1rem;
  gap: 5%;
  margin-top: 3rem;
  justify-content: space-evenly;
}
#content main .head-title {
  width: 60rem;/*25rem*/
  height: 14rem;
	display: inline-block;
  padding: 0.6rem;
  margin-top: 0rem;
  border-radius: 2rem;
  background: #fff;
	align-items: center;
	justify-content: center;
  /* background: url(img/joshua-sortino-71vAb1FXB6g-unsplash.jpg);  */
  /* background-position: center; */
  /* background-size: cover;   */

  position: relative;
}

#content main .head-title .left {
display: block;
align-items: center;
justify-content: center;
}
#content main .head-title .left h2,p{
  text-align: center;
}
#content main .head-title .left p{
  color: var(--black);
}
#content main .head-title img{
  width: 6rem;
  height: 6rem;
  border: 3px solid #fff;
  border-radius: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
}
.todo{
  width: 25rem;/*40rem*/
  height: 17rem;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 2rem;
  background: #fff;
  margin-top: 1rem;
  position: relative;
  overflow: hidden;
  overflow-y: auto;
}
.todo h2{
  color: #002765;
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-left: 1rem;
  margin-bottom: 20px;
}
.todo h2 img{
  width: 30px;
  margin-left: 10px;
}
.todo .row{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 1rem;
  margin-bottom: 25px;
}
.todo input{
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 14px;
}
.todo button{
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #ff5945;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}
.todo ul li{
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
.todo ul li::before{
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(img/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}
.todo ul li .checked{
  color: #555;
  text-decoration: line-through;
}
.todo ul li .checked::before{
  background-image: url(img/checked.png);
}
.todo ul li span{
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}
.todo ul li span:hover{
  background: #edeef0;
}
.head-title::before,.head-title::after{
  content: '';
  position: absolute;
  z-index: -1;
  inset: -.2rem;
  background: conic-gradient( from var(--gradient-angle),#879AF2,#8233C5,#f8a100,#8233C5,#879AF2);
  border-radius: inherit;
  animation: rotation 20s linear infinite;
}
.head-title::after{
  filter: blur(2rem);
}
@property --gradient-angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@keyframes rotation {
  0% {
    --gradient-angle:0deg;
  }
  100% {
    --gradient-angle:360deg;
  }
}

.notics {
  width: 17rem;/*40rem*/
  height: 17rem;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  padding: 1rem;
  margin-top: 1rem;
  overflow-y: hidden;
  border-radius: 2rem;
  background: #fff;
} 
.notics .tex{
  background: #fff;
  width: 100%;
  height: 2rem;
  font-size: 1.4rem;
}
.notics hr{
  margin-bottom: 1rem;
}
.notics .not{
  height: calc(15rem - 3rem);
  overflow-y: auto;
  background: #fff;
}
.notics li{
  border: 3px solid var(--dark); 
  border-radius: 20px;
  margin-bottom: 0.6rem;

}
.notics li .topic{
  text-align: justify;
  padding: 0 1rem;
}
.notics li .date{
  text-align: justify;
  padding: 0 2rem;
}
.notics li .pag{
  text-align: justify;
  margin-left: 1rem;
text-align: left;}
.notics ul{
  overflow-y: auto;
}
/*calander*/
#cal{
  width: 17rem;/*25rem*/
  height: 17rem;
  border-radius: 2rem;
  display: grid;
  place-items: center;
  margin-top: 1rem;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  font-family: var(--font-family);
  background-color: var(--bg-body);
  overflow: hidden;
  position: relative;
}
.dark {
  --bg-body: var(--dark-body);
  --bg-main: var(--dark-main);
  --bg-second: var(--dark-second);
  --color-hover: var(--dark-hover);
  --color-txt: var(--dark-text);
}

.light {
  --bg-body: var(--light-body);
  --bg-main: var(--light-main);
  --bg-second: var(--light-second);
  --color-hover: var(--light-hover);
  --color-txt: var(--light-text);
}
.calendar {
  height: max-content;
  width: max-content;
  background-color: var(--bg-main);
  border-radius: 30px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  /* transform: scale(1.25); */
}

.light .calendar {
  box-shadow: var(--shadow);
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  color: var(--color-txt);
  padding: 10px;
}

.calendar-body {
  padding: 10px;
}

.calendar-week-day {
  height: 40px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: 600;
}

.calendar-week-day div {
  display: grid;
  place-items: center;
  color: var(--bg-second);
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  color: var(--color-txt);
}

.calendar-days div {
  width: 20px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
  cursor: pointer;
  animation: to-top 1s forwards;
  /* border-radius: 50%; */
}
#cal::before,#cal::after{
  content: '';
  position: absolute;
  z-index: -1;
  inset: -.6rem;
  background: conic-gradient( from var(--gradient-angle),#879AF2,#8233C5,#f8a100,#8233C5,#879AF2);
  border-radius: inherit;
  animation: rotation 20s linear infinite;
}
#cal::after{
  filter: blur(2rem);
}
@property --gradient-angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@keyframes rotation {
  0% {
    --gradient-angle:0deg;
  }
  100% {
    --gradient-angle:360deg;
  }
}




.calendar-days div span {
  position: absolute;
}

.calendar-days div:hover span {
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.calendar-days div span:nth-child(1),
.calendar-days div span:nth-child(3) {
  width: 2px;
  height: 0;
  background-color: var(--color-txt);
}

.calendar-days div:hover span:nth-child(1),
.calendar-days div:hover span:nth-child(3) {
  height: 100%;
}

.calendar-days div span:nth-child(1) {
  bottom: 0;
  left: 0;
}

.calendar-days div span:nth-child(3) {
  top: 0;
  right: 0;
}

.calendar-days div span:nth-child(2),
.calendar-days div span:nth-child(4) {
  width: 0;
  height: 2px;
  background-color: var(--color-txt);
}

.calendar-days div:hover span:nth-child(2),
.calendar-days div:hover span:nth-child(4) {
  width: 100%;
}

.calendar-days div span:nth-child(2) {
  top: 0;
  left: 0;
}

.calendar-days div span:nth-child(4) {
  bottom: 0;
  right: 0;
}

.calendar-days div:hover span:nth-child(2) {
  transition-delay: 0.2s;
}

.calendar-days div:hover span:nth-child(3) {
  transition-delay: 0.4s;
}

.calendar-days div:hover span:nth-child(4) {
  transition-delay: 0.6s;
}

.calendar-days div.curr-date,
.calendar-days div.curr-date:hover {
  background-color: var(--blue);
  color: var(--white);
  border-radius: 50%;
}

.calendar-days div.curr-date span {
  display: none;
}

.month-picker {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.month-picker:hover {
  background-color: var(--color-hover);
}

.year-picker {
  display: flex;
  align-items: center;
}

.year-change {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0 10px;
  cursor: pointer;
}

.year-change:hover {
  background-color: var(--color-hover);
}

.calendar-footer {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.toggle {
  display: flex;
}

.toggle span {
  margin-right: 10px;
  color: var(--color-txt);
}

.dark-mode-switch {
  position: relative;
  width: 48px;
  height: 25px;
  border-radius: 14px;
  background-color: var(--bg-second);
  cursor: pointer;
}

.dark-mode-switch-ident {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: var(--bg-main);
  position: absolute;
  top: 2px;
  left: 2px;
  transition: left 0.2s ease-in-out;
}

.dark .dark-mode-switch .dark-mode-switch-ident {
  top: 2px;
  left: calc(2px + 50%);
}

.month-list {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--bg-main);
  padding: 20px;
  grid-template-columns: repeat(3, auto);
  gap: 5px;
  display: grid;
  transform: scale(1.5);
  visibility: hidden;
  pointer-events: none;
}

.month-list.show {
  transform: scale(1);
  visibility: visible;
  pointer-events: visible;
  transition: all 0.2s ease-in-out;
}

.month-list > div {
  display: grid;
  place-items: center;
}

.month-list > div > div {
  width: 100%;
  padding: 5px 20px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  color: var(--color-txt);
}

.month-list > div > div:hover {
  background-color: var(--color-hover);
}

@keyframes to-top {
  0% {
      transform: translateY(100%);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

/*calander*/
/* MAIN */
