@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:wght@400;700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
.form-div{
    margin: 50px auto 50px;
    padding: 25px 15px 10px 15px;
    border: 1px solid #80ced7;
    font-size: 1.1rem;
    border-radius: 5px;
    font-family: 'Lora', serif;
}
/*
font-family: 'Lobster', cursive;
font-family: 'Lobster Two', cursive;
font-family: 'Lora', serif;
*/
.form-control:focus{
    box-shadow: none;
}
form p{
    font-size: .89em;
}
.form-div.login{
    margin-top: 100px;
}
.logout1{
    color: red;
}